.hpv-checklist .hr-no-optgroups {
    border-color: #cfcfcf;
    border-width: thin;
    border-top-style: none;
    margin-top: 10px;
}
.hpv-checklist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hpv-checklist ul:last-child {
    padding-bottom: 10px;
}
.hpv-checklist li {
    color: #303438;
    padding: 5px 10px;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE10+/Edge */
    transition: opacity 0.3s ease-out;
}
.hpv-checklist li.fade-out {
    opacity: 0;
}
.hpv-checklist li:hover {
    background-color: #f3f3f3;
}
.hpv-checklist label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.hpv-checklist .hpv-checklist-content {
    overflow-y: auto;
    padding-top: 10px;
}
.hpv-checklist #root-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    margin: 50px;
}
.hpv-checklist .search-container {
    position: relative;
    width: calc(100% - 8px);
    padding: 4px;
}
.hpv-checklist .search-input {
    width: 100%;
    padding: 8px 30px 8px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.hpv-checklist .clear-search {
    position: absolute;
    right: 10px;
    top: 25%;
    height: 18px;
    background-color: #e3e3e3;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 18px;
}
.hpv-checklist .clear-search:hover {
    background-color: #ffacac;
}
.hpv-checklist .optgroup {
    font-weight: bold;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7e7e7;
    padding: 5px 10px;
    color: rgba(48, 52, 56, .7);
    cursor: default;
    margin: 9px 0 0 0;
    font-size: 14px;
    text-shadow: none;
    line-height: 20px;
}
.hpv-checklist .optgroup .optgroup-header {
    display: flex;
    margin-left: 10px;
    width: 100%;
    justify-content: space-between;
}
.hpv-checklist .optgroup::before {
    content: '▼';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s;
}
.hpv-checklist .optgroup.collapsed::before {
    transform: rotate(-90deg);
}
.hpv-checklist .optgroup + ul {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 1000px;
    opacity: 1;
    overflow: hidden;
}
.hpv-checklist .optgroup.collapsed + ul {
    max-height: 0;
    opacity: 0;
}
.hpv-checklist .hpv-checklist-btn-group .select-all-main.select-single-mode {
    display: none;
}
.hpv-checklist .hpv-checklist-checkbox-list .select-all-group.select-single-mode {
    visibility: hidden;
}
.hpv-checklist .select-all-group {
    background: none;
    border: none;
    cursor: pointer;
    color: #2196F3;
    font-size: 12px;
    visibility: visible;
}
.hpv-checklist .hpv-checklist-btn-group button {
    background: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}
.hpv-checklist .hpv-checklist-btn-group button:disabled {
    cursor: default;
    border-width: thin;
}
.hpv-checklist .hpv-checklist-btn-group button:not([disabled]) {
    border: 1px solid #2196F3;
    color: #2196F3;
}
.hpv-checklist .hpv-checklist-btn-group .select-all-main:not([disabled]):hover {
    background-color: #2196F3;
    color: white;
}
.hpv-checklist .hpv-checklist-status-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    color: #a7a7a7;
}
.hpv-checklist .hpv-checklist-disabled {
    color: #ccc;
}
.hpv-checklist .hpv-checklist-btn-group {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.hpv-checklist .custom-checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.hpv-checklist .custom-checkbox[data-checked="true"] {
    background-color: #2196F3;
    border-color: #2196F3;
}

.hpv-checklist .custom-checkbox[data-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
}
.hpv-checklist .custom-checkbox[data-state="1"] {
    background-color: #2196F3;
    border-color: #2196F3;
}

.hpv-checklist .custom-checkbox[data-state="2"] {
    background-color: #FF0000;
    border-color: #FF0000;
}

.hpv-checklist .custom-checkbox[data-state="3"] {
    background-color: #b700ff;
    border-color: #b700ff;
}

.hpv-checklist .custom-checkbox[data-state="4"] {
    background-color: #0fb417;
    border-color: #0fb417;
}

.hpv-checklist .custom-checkbox .checkbox-inner {
    position: absolute;
    border: solid white;
    border-width: 0 2px 2px 0;
    width: 3px;
    height: 10px;
    top: 0px;
    left: 5px;
    transform: rotate(45deg);
    display: none;
}

.hpv-checklist .custom-checkbox[data-checked="true"] .checkbox-inner {
    display: block;
}

.hpv-checklist .checkbox-label {
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.hpv-checklist li {
    display: flex;
    align-items: center;
}